.Message {
  display: block;
  clear: both;
  background-color: white;
  margin: 10px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 1);
  padding: 10px 20px;
  border-radius: 20px;
  width: 500px;


  &.me {
    color: #ffffff;
    float: right;
    background-color: #328ec4;
  }
}